<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
	<tr>
		<th>配置名称 : </th>
		<td><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["name"]}" data-options="required:false"></td>
	</tr><tr>
		<th>配置类型 : </th>
		<td><select name="type" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["type"]}',url:'{:U("Admin/Function/get_config")}&cname=CONFIG_TYPE_LIST|type|title&r_type=json',valueField:'type',textField:'title',multiple:false,required:false,editable:false"></select></td>
	</tr><tr>
		<th>配置标题 : </th>
		<td><input name="title" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["title"]}" data-options="required:false"></td>
	</tr><tr>
		<th>配置分组 : </th>
		<td><select name="group" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["group"]}',url:'{:U("Admin/Function/get_config")}&cname=CONFIG_GROUP_LIST|group|title&r_type=json',valueField:'group',textField:'title',multiple:false,required:false,editable:false"></select></td>
	</tr><tr>
		<th>配置参数 : </th>
		<td><input name="extra" value="{$_info["extra"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
	</tr><tr>
		<th>说明 : </th>
		<td><input name="remark" value="{$_info["remark"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
	</tr><tr>
		<th>状态 : </th>
		<td><select name="status" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["status"]}',multiple:false,required:false,editable:false"><option value="1" >启用</option><option value="0" >禁用</option></select></td>
	</tr><tr>
		<th>配置值 : </th>
		<td><input name="value" value="{$_info["value"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:400px; height:80px;"></td>
	</tr><tr>
		<th>排序 : </th>
		<td><input name="sort" value="{$_info["sort"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="min:'0',max:'999',precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
	</tr></table>
<input name="id" type="hidden" value="{:I('get.id')}" />