<div id="Config_Bar" class="Bar_tools">
  <volist name="type" id="group">
  <a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-edit',plain:true" onclick="UpdateTabs('Config','{:U('?id='.$key)}','','iconfont icon-add');"><span>{$group}配置</span></a>
  </volist>
</div>
<form id="Config_Submit_From" class="update_from" action="{:U('group')}&id={$id}">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <volist name="list" id="config">
      <tr>
        <th>{$config.title} : </th>
        <td><switch name="config.type">
            <case value="0">
              <input type="text" name="config[{$config.name}]" value="{$config.value}" class="easyui-numberbox" style="height: 30px;"/>
            </case>
            <case value="1">
              <input type="text" name="config[{$config.name}]" value="{$config.value}" class="easyui-textbox" style="height: 30px;"/>
            </case>
            <case value="2">
            <textarea name="config[{$config.name}]" type="text" class="easyui-textbox" style="width: 300px; height: 60px;" data-options="required:false,multiline:true">{$config.value}</textarea>
            </case>
            <case value="3">
            <textarea name="config[{$config.name}]" type="text" class="easyui-textbox" style="width: 300px; height: 60px;" data-options="required:false,multiline:true">{$config.value}</textarea>
            </case>
            <case value="4">
              <select name="config[{$config.name}]" class="easyui-combobox" data-options="value:'{$config.value}',multiple:false,required:false,editable:false" style="height: 30px;">
                <volist name=":model_field_attr($config['extra'])" id="vo">
                <option value="{$key}">{$vo}</option>
                </volist>
              </select>
            </case>
            <case value="5">
              <input type="text" name="config[{$config.name}]" value="{$config.value}" class="easyui-kindeditor" config_date="1" style="width: 600px; height: 300px;">
            </case>
          </switch><span><br/>{$config.remark}</span></td>
      </tr>
    </volist>
    <tr>
      <td colspan="2" style="text-align: center;"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="From_Submit('Config')" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">保存</span></a></td>
    </tr>
  </table>
</form>
