<div id="Action_Bar" class="Bar_tools">
<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-viewlist',plain:true" onclick="Data_Reload('Action_Data_List');"><span>列表or刷新</span></a>
<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-search',plain:true" onclick="Data_Search('Action_Search_From','Action_Data_List');"><span>搜索</span></a>
<if condition="Is_Auth('Admin/Action/add')">
<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-add',plain:true" onclick="Submit_Form('Action_Form','Action_Data_List','{:U('add')}','','新增数据','');"><span>新增</span></a>
</if>
</div>
<div style="display: none">
<form id="Action_Form" class="update_from" style="width:600px; height:320px;"></form>
</form>
  <form id="Action_Search_From" class="search_from">
	<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
			<th>标识 : </th>
			<td><input name="s_name" type="text" class="easyui-textbox" style="height:30px;"></td>
		</tr><tr>
			<th>标题 : </th>
			<td><input name="s_title" type="text" class="easyui-textbox" style="height:30px;"></td>
		</tr><tr>
			<th>描述 : </th>
			<td><input name="s_remark" type="text" class="easyui-textbox" style="height:30px;"></td>
		</tr><tr>
			<th>类型 : </th>
			<td><select name="s_type" class="easyui-combobox" style="height:30px;" data-options="value:'',url:'{:U("Admin/Function/get_config")}&cname=ACTION_TYPE|type|title&r_type=json',valueField:'type',textField:'title',multiple:false,required:false,editable:false"></select></td>
		</tr><tr>
			<th>状态 : </th>
			<td><select name="s_status" class="easyui-combobox" style="height:30px;" data-options="value:'',multiple:false,required:false,editable:false"><option value="" >请选择一个选项</option><option value="0" >禁用</option><option value="1" >启用</option></select></td>
		</tr><tr>
			<th>修改时间 : </th>
			<td><input name="s_update_time_min" type="text" class="easyui-datebox" style="height:30px;"> - <input name="s_update_time_max" type="text" class="easyui-datebox" style="height:30px;"></td>
		</tr>    </table>
  </form>
</div>

<table id="Action_Data_List"></table>

<script type="text/javascript">
$(function() {
	$("#Action_Data_List").datagrid({
		url : "{:U('Action/index')}",
		fit : true,
		striped : true,
		border : false,
		pagination : true,
		pageSize : 20,
		pageList : [ 10, 20, 50 ],
		pageNumber : 1,
		sortName : 'id',
		sortOrder : 'desc',
		toolbar : '#Action_Bar',
		singleSelect : true,
		columns : [[
            {field : 'id',title : 'ID',width : 40,sortable:true},
            {field : 'name',title : '标识',width : 140,sortable:true},
            {field : 'title',title : '标题',width : 140,sortable:true},
            {field : 'remark',title : '描述',width : 220,sortable:true},
            {field : 'type',title : '类型',width : 60,sortable:true},
            {field : 'status',title : '状态',width : 60,sortable:true},
            {field : 'update_time',title : '修改时间',width : 100,sortable:true},
			{field : 'operate',title : '操作',width : 200}
		]]
	});
})
</script>