<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理控制台 | Gms管理系统</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro/easyui.css">
<link rel="stylesheet" href="__STATIC__/Font/iconfont.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">
<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
<script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__JS__/main.js"></script>
</head>
<body><div style="padding:10px;">
    <!-- 标题栏 -->
    <div style=" margin-bottom:10px;">
        <h2>数据还原</h2>
    </div>
    <!-- /标题栏 -->

    <!-- 应用列表 -->
    <div class="list_data">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th width="200">备份名称</th>
                    <th width="80">卷数</th>
                    <th width="80">压缩</th>
                    <th width="80">数据大小</th>
                    <th width="200">备份时间</th>
                    <th>状态</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="data">
                    <tr>
                        <td>{$data.time|date='Ymd-His',###}</td>
                        <td>{$data.part}</td>
                        <td>{$data.compress}</td>
                        <td>{$data.size|format_bytes}</td>
                        <td>{$key}</td>
                        <td>-</td>
                        <td class="action">
                            <a class="db-import" href="{:U('import?time='.$data['time'])}">还原</a>&nbsp;
                            <a class="ajax-get confirm" href="{:U('del?time='.$data['time'])}">删除</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
    <!-- /应用列表 -->
    
    <script type="text/javascript">
        $(".db-import").click(function(){
            var self = this, status = ".";
            $.get(self.href, success, "json");
            window.onbeforeunload = function(){ return "正在还原数据库，请不要关闭！" }
            return false;
        
            function success(data){
                if(data.status){
                    if(data.gz){
                        data.info += status;
                        if(status.length === 5){
                            status = ".";
                        } else {
                            status += ".";
                        }
                    }
                    $(self).parent().prev().text(data.info);
                    if(data.part){
                        $.get(self.href, 
                            {"part" : data.part, "start" : data.start}, 
                            success, 
                            "json"
                        );
                    }  else {
                        window.onbeforeunload = function(){ return null; }
                    }
                } else {
                    updateAlert(data.info,'alert-error');
                }
            }
        });
    </script>
</body>
</html>