<extend name="Public/public_base"/>
<block name="body">
<div id="content">
<h2>忘记密码</h2>
	<form method="post" action="" id="myform">
		<div class="col-left form-login form-reg">
			<div class="point">
				<div class="content">
					<strong class="title">通过邮箱找回：</strong>
					<p>请输入账户绑定邮箱</p>
				</div>
			</div>


			<div class="input"><label>邮箱：</label><input type="text" id="email" name="email" size="36" class="input-text"></div>
			<div class="input"><label>验证码：</label><input type="text" id="verify" name="verify" size="10" class="input-text"><img src="{:U('Public/verify')}" style=" width:120px; height:26px;"></div>

			<div class="reg">
				<div class="submit"><input type="submit" name="dosubmit" value="提交" style="width:60px"></div>
			</div>
		</div>
	</form>

    <div class="col-auto reg-auto">
    	<p class="f14">
		想起账户<br/>继续去登录
        </p>
        <div class="submit"><input type="submit" name="dosubmit" value="登录" onclick="redirect('{:U('Public/login')}')"></div>
    </div>

<div style="clear:both"></div>
</div>
</block>