<div id="{$ModelInfo['name']}_Bar" class="Bar_tools">
<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-viewlist',plain:true" onclick="Data_Reload('{$ModelInfo['name']}_Data_List');"><span>列表or刷新</span></a>
<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-search',plain:true" onclick="Data_Search('{$ModelInfo['name']}_Search_From','{$ModelInfo['name']}_Data_List');"><span>搜索</span></a>
<literal><if condition="Is_Auth('Admin/</literal>{$ModelInfo['name']}<literal>/add')">
<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-add',plain:true" onclick="Submit_Form('</literal>{$ModelInfo['name']}<literal>_Form','</literal>{$ModelInfo['name']}<literal>_Data_List','{:U('add')}','','新增数据','');"><span>新增</span></a>
</if></literal>
</div>
<div style="display: none">
<form id="{$ModelInfo['name']}_Form" class="update_from" style="width:600px; height:320px;"></form>
</form>
  <form id="{$ModelInfo['name']}_Search_From" class="search_from">
	<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <volist name="_Search" id="field_one">
		<tr>
			<th>{$field_one['title']} : </th>
			<td>{$field_one['form']}</td>
		</tr>
    </volist>
    </table>
  </form>
</div>

<table id="{$ModelInfo['name']}_Data_List"></table>

<script type="text/javascript">
$(function() {
	$("#{$ModelInfo['name']}_Data_List").datagrid({
		url : "<literal>{:U('</literal>{$ModelInfo['name']}<literal>/index')}</literal>",
		fit : true,
		striped : true,
		border : false,
		pagination : true,
		pageSize : 20,
		pageList : [ 10, 20, 50 ],
		pageNumber : 1,
		sortName : 'id',
		sortOrder : 'desc',
		toolbar : '#{$ModelInfo["name"]}_Bar',
		singleSelect : true,
		columns : [[
            {field : 'id',title : 'ID',width : 40,sortable:true},
<?php foreach ($_List as $key => $field_one ) {?>
            {field : '<?php echo $field_one["name"];?>',title : '<?php echo $field_one["title"];?>',width : <?php if($field_one["l_width"]!=''){echo $field_one["l_width"];}else{echo "100";}?>,sortable:true},
<?php }?>
			{field : 'operate',title : '操作',width : 200}
		]]
	});
})
</script>