<extend name="Public/base"/>
<block name="body">
<div id="memberArea">
<include file="Public:left" />
    <div class="col-auto">
    	<div class="col-auto">
        	<div class="col-1 member-info">
            	<div class="content">
                    <div class="col-left himg">
					<a title="{:L('modify').L('avatar')}" href="index.php?m=member&c=index&a=account_manage_avatar&t=1"><img src="{$avatar[90]}" width="60" height="60" onerror="this.src='__IMG__/member/nophoto.gif'"></a>
					</div>
                  <div class="col-auto">
                   	<h5>
					<font color="{$grouplist[$memberinfo[groupid]]['usernamecolor']}">
					{$UserInfo['nickname']}
					</font>
					({$UserInfo['email']})
					</h5>
                    <p class="blue">
					  {:L('member_group')}：{$UserInfo['group_title']}，
                      {:L('account_remain')}：<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">{$UserInfo['amount']}</font> {:L('unit_yuan')}，{:L('point')}：<font style="color:#F00; font-size:12px;font-family:Georgia,Arial; font-weight:700">{$UserInfo['point']}</font> {:L('unit_point')} <if condition="$UserInfo['vip'] gt 0">，vip{:L('overduedate')}：<font style="color:#F00; font-size:12px;font-family:Georgia,Arial; font-weight:700">{:date($UserInfo['overduedate'])}</font></if>
                      </p>
                    </div>
           	  </div>

            	<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
            </div>
            <div class="bk10"></div>

            <div class="col-1 ">
            	<h5 class="title">{:L('collect')}</h5>
            	<div class="content">
					{pc:member  action="favoritelist" userid="$memberinfo[userid]" num="10"}	
                    <ul class="title-list">
					{loop $data $k $v}
                    	<li>·<a href="{$v['url']}" target="_blank">{$v['title']}</a><span><em>{format::date($v['adddate'], 1)}</em> <a href="index.php?m=member&c=index&a=favorite&id={$v['id']}">{:L('delete')}</a></span></li>
                    {/loop}
                    </ul>
					{$pages}
					{/pc}
            	</div>
            	<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
</block>